<div class="author-info-container">
  <div style="height: 30px;text-align: center;font-size: 30px; margin: 20px"><strong>This Project is done by:</strong></div>
  <div class="view-container">


    <div id="habib" class="flip-container author">
      <div class="flipper">
        <div class="front">
          <img src="./assets/habibHinn.jpg" alt="Habib Hinn" class="image-view">
        </div>
        <div class="back">
          Description
        </div>
      </div>
    </div>

    <div id="hussien" class="flip-container author">

      <div class="flipper">
        <div class="front">
          <img src="./assets/hussien.jpg" alt="Hussien Dahir" class="image-view">
        </div>
        <div class="back">
          Description
        </div>
      </div>
    </div>

    <div id="ayman" class="flip-container author">

      <div class="flipper">
        <div class="front">
          <img src="./assets/ayman.jpg" alt="Ayman Daraghmah" class="image-view">
        </div>
        <div class="back">
          Description
        </div>
      </div>
    </div>

    <div id="fadi" class="flip-container author">

      <div class="flipper">
        <div class="front">
          <img src="assets/fadi.jpg" alt="Fadi Khayo" class="image-view">
        </div>
        <div class="back">
          Description
        </div>
      </div>
    </div>

  </div>
</div>
